*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}


.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f2f2f;
    margin-bottom: auto;
}

.logo span{
    color: #b99b6b;
    line-height: 1;
    padding-bottom:2px ;
    
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: 300;
    transition: 0.3s;
}

nav a:hover{
    color: #b99b6b;
}


.hero{
    position: relative;
    height: 90vh;
    margin-top:0;
   
   
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
    
    
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #333;
    text-align: center;
}

.hero-text h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
    letter-spacing: 1px;

}

.hero-text p{
    font-size: 1.1rem;
    margin-bottom: 25px;

}


.hero button{
    background-color: #b99b6b;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;


}

.hero button:hover{
    background-color: #aa8d5f;
}

@media(max-width:1200px){
    .site-header{
        padding: 20px 40px;
    }

    .about{
        flex-direction: column;
        padding:80px 40px ;
        gap: 40px;
        
    }

    .about-img{
        width: 100%;
    }


    .services{
        padding: 120px 40px 80px 40px;
    }

    .service-cards{
        gap: 20px;
    }
}

@media(max-width:768px) {
    nav ul{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .hero-text h2{
        font-size: 2rem;
    }

    .hero-text p{
        font-size: 1rem;
    }

    .hero button{
        padding: 10px 25px;
        font-size: 0.9rem;
    }

    .about{
        padding: 60px 20px;
    }

    .services{
        padding: 100px 20px 60px 20px;
    }

    .service-cards{
        grid-template-columns: 1fr;
    }

    .contact{
        padding: 100px 20px 60px 20px;
    }

    .contact-form{
        max-width: 100%;
    }

    .contact-info{
        max-width: 100%;
        text-align: center;
    }
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 80px;
    gap: 60px;
    background-color: #fff;
}


.about-text{
   


}

.about-text h2{

    color: #b99b6b;
    
}
    
    
.about-text p{
    font-size: 1rem;
    color: #444;
    
}

.about-img{
    flex: 1;
}

.services{
    padding-top: 160px;
    background-color: #fff;
    text-align: center;
}

.services h2{
    font-size: 2.5rem;
    color: #b99b6b;
    margin-bottom: 40px;
}

.service-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}

.service-cards .card{
    b

}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


.contact{
    padding: 120px 80px 80px 80px;
    background-color: #fff;
    text-align: center;
}

.contact h2{
    font-size: 2.5rem;
    color: #b99b6b;
    margin-bottom: 40px;


}





.contact-form{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 300px;
}


.contact-form input,
.contact-form textarea{
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: #b99b6b;
    box-shadow: 0 0 10px rgab(185,155,107,0.2);
}

.contact-form button{
    background-color: #b99b6b;
    color: white;
    border: none;
    padding:14px 40px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgab(185,155,107,0.3);

}

.contact-form button:hover{

    background-color: #aa8d5f;
    transform:translateY(-2px);
    box-shadow: 0 8px 20px rgba(185,155,107,0.4);
}

.contact-info{
    margin-top: 50px;
    font-size: 1rem;
    color: #333;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.contact-info p{
    margin-bottom: 15px;
    line-height: 1.5;
}


.contact-info p strong{
    color: #b99b6b;
}

@media (max-width:768px) {
    .contact-form{
        max-width: 90%;
    }

    .contact-info{
        max-width: 90%;
    }
}